.modal {
    font-size: 1.2em;
    display:inline-block;
    margin: 2em;
    position: absolute;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    padding-bottom: 2em;
    border-radius: 0.5em;
    /* background-color:#0a1018;
   background: linear-gradient(#0a1018, #243b55);
    */
    background: radial-gradient(#243b55, #0a1018);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .7);
    border-radius: 10px;
}

.modal>header {
    height: 4em;
    padding-bottom: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: var(--formColor);
    font-size: 1.3em;

}

.modal>header>span {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: solid 1px var(--formColor);
}

.modal>.fields {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.modal>.fields>.row {
    width: 100%;
    height: 3em;
    color: var(--formColor);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.modal>.fields>.row>.fieldLabel {
    width: 10em;
    text-align: right;
    padding-right: 0.5em;

    pointer-events: none;

}

.modal>.fields>.row>.fieldLabel::after {
    content: " :"
}

.modal>.fields>.row>.field {
    width: calc(100% - 10em);
    text-align: left;
}

.modal>.fields>.row>.field>span {
    font-size: 0.9em;
    margin-right: 1em;
}

.modal>.fields>.row>.field>* {
    width: 100%;
   

}

.modal>.fields>.row>.field>input[type='text'] {
    outline: none;
    border: none;
    border-bottom: solid 1px gray;
    max-width: 40em;
    min-width: 30em;
    height: 2em;
    line-height: 2em;
    font-size: 1.2em;
    background-color: #172636;
    color: var(--formColor);
    caret-color: yellow;
}

.modal>.fields>.buttons {
    height: 5em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}